<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Trivia de Películas</h1>
    <p>Esta es la página de inicio.</p>

    <form action="{{ url_for('obtener_lista_pelicula') }}" method="get">
        <input type="submit" value="Ver nombre de películas">
    </form>

    <form action="{{ url_for('intentos') }}" method="get">
        <input type="submit" value="Comenzar Trivia">
    </form>
    
</body>
</html>