<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia de Peliculas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icono_2.ico') }}" type="image/x-icon">
</head>
<body>
    <h1>Trivia de Películas</h1>
    <h3>Ingrese su nombre y la cantidad de intentos (mínimo 3):</h3>
     
    <form action="{{ url_for('intentos') }}" method="post"> <!-- Enviar datos al endpoint 'intentos' -->
        <!-- Campo para ingresar el nombre -->
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" required><br><br>

        <!-- Campo para ingresar el número de intentos -->
        <label for="num_intentos">Número de intentos:</label><br>
        <input type="number" id="num_intentos" name="num_intentos" min="3" required><br><br>

        <!-- Botón para enviar los datos e iniciar la trivia -->
        <input type="submit" value="Iniciar Juego">
    </form>

</body>
</html>
