<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia de Películas</title>
</head>
<body>
    <h1>Trivia de películas</h1>
    <h2>Elija la película correspondiente a la frase</h2>

    {% if current_intento != 0 %}
        <p><strong>{{ mensaje }}</strong></p>
    {% endif %}
    <!-- Mostrar la frase -->
    <form action="{{ url_for('juego') }}" method="post">
        <p><strong>Frase:</strong> {{ session['frase_random'] }}</p>

        <label for="respuesta">Seleccione la película:</label>
        <select name="respuesta" id="respuesta" required>
            {% for opcion in session['opciones'] %}     <!-- mostrar sobre las opciones de la frase -->
                <option value="{{ opcion }}">{{ opcion }}</option>
            {% endfor %}
        </select>
        <br><br>

        <button type="submit">Enviar Respuesta</button> <!-- Botón para enviar la respuesta -->
     
    </form>
</body>
</html>