<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Globales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icono_2.ico') }}" type="image/x-icon">
</head>
<body>
    <h1>Resultados Globales</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Aciertos</th>
                <th>Intentos</th>
                <th>Porcentaje de Aciertos</th>
                <th>Fecha y Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados_globales %}
            <tr>
                <td>{{ resultado.nombre }}</td>
                <td>{{ resultado.score }}</td>
                <td>{{ resultado.num_intentos }}</td>
                <td>{{ resultado.porcentaje_aciertos }}%</td>
                <td>{{ resultado.fecha_hora }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for('index') }}" method="get">
        <button type="submit">Volver al Inicio</button>
    </form>
    <form action="{{ url_for('graficas') }}" method="get">
        <button type="submit">Ver graficas globales</button>
    </form>
</body>
</html>