<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icono_2.ico') }}" type="image/x-icon">
</head>
<body>
    <h1>Resultados de las respuestas</h1>
    <p><strong>Respuestas correctas:</strong> {{ score }}</p>
    <p><strong>Puntuación:</strong> {{ score }} de {{ num_intentos }}</p>
    <p><strong>Porcentaje de aciertos:</strong> {{ porcentaje_aciertos }}%</p>
    <form action="{{ url_for('index') }}" method="get">
        <input type="submit" value="Volver al inicio (reiniciar juego)">
    </form>

    <form action="{{ url_for('resultados_globales') }}" method="get">
        <input type="submit" value="Ver resultados">
    </form>
</body>
</html>